@model SchoolJournal.Models.TableOfMarksViewModel

<table class="table table-marks table-hover">
    <thead>
        <tr>
            <th>Ученик / Дата</th>
            @foreach (var date in Model.Dates)
            {
                <th date="@date" class="text-center">@date.Day</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {

            <tr id="@student.StudentId">
                <td>@student.StudentFullName</td>
                @foreach (var date in Model.Dates)
                {
                    var mark = Model.Marks.FirstOrDefault(m => m.Date == date && m.StudentId == student.StudentId);

                    <td class="text-center"><span class="editable">@(mark?.Value)</span></td>
                }
            </tr>

        }
    </tbody>
</table>